body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: lightblue;
}

button {
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: green;
}
